.DS_Store
Data/raw/books/goodreads_books.json
Data/raw/books/goodreads_reviews_spoiler.json
Data/raw/movies/the-movies-dataset
Data/raw/movies/HuluRaw.csv
Data/interim/books/books_reviews.csv
Data/interim/books/book1.csv
Data/interim/books/book2.csv

